@media (hover:hover) {
    a:hover {
        border-bottom: 2px solid #e05100;
    }
}

@media (hover:none) {
    a:active {
        border-bottom: 2px solid #e05100;
    }
}


::selection {
    color: white;
    background-color: black;
}
* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #404040;
}
body {
    height: 100vh;
    background: url(../Images/404_background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    padding: 5% 10%;
    background:
    rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(3px);
}
h1 {
    text-align: center;
    font-size: 300px;
}
.accent {
color: #e05100;
}
p {
    font-size: 24px;
    text-align: center;
}
a {
    text-decoration: none;
}



@media (max-width: 999px) {
    h1 {
        font-size: 200px;
    }
    p {
        font-size: 16px;
    }
}



@media (max-width: 575px) {
    .container {
        padding: 5%;
    }
    h1 {
        font-size: 100px;
    }
    p {
        font-size: 10px;
    }
}