/* ===== ADVANTAGES STYLES ===== */
.advantages {
  background-color: #404040;
  padding: 120px 0;
}
.advantages__title {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 80px;
}
.advantages__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}
.advantages__card {
  background-color: #ffffff;
  padding: 20px 30px 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__card--title {
  color: #000000;
  width: 270px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0;
}
.advantages__text {
  color: #000000;
  max-width: 270px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  text-wrap: balance;
}