/* ===== DELIVERY STYLES ===== */
.delivery__container {
  display: flex;
  flex-wrap: wrap;
}
.delivery__card--info {
  flex: 0 0 50%;
  background-color: #E05100;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.delivery__card--image {
  flex: 0 0 50%;
}
.delivery__card--truck {
  flex: 0 0 50%;
}
.delivery__card--factory {
  flex: 0 0 50%;
  background-color: #404040;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.delivery__card--map {
  flex: 0 0 100%;
}
.delivery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.delivery__title {
  color: #ffffff;
  max-width: 600px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.delivery__subtitle {
  color: #ffffff;
  max-width: 600px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.delivery__text {
  color: #ffffff;
  max-width: 500px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.delivery__address {
  color: #ffffff;
  max-width: 400px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.delivery__address--darken {
  color: #9d9d9d;
}
.delivery__hours {
  color: #ffffff;
  max-width: 300px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.delivery__phone {
  display: flex;
  gap: 5px;
  color: #ffffff;
  max-width: 300px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}