/* ===== PRODUCTION STYLES ===== */
.production {
  padding: 120px 0;
  background-color: #404040;
}
.production__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 90px;
  color: #ffffff;
}
.production__content {
  display: flex;
}
.production__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.production__description-block:nth-child(1) {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0 40px;
  width: fit-content;
}
.production__description-block:nth-child(n+2) {
  display: flex;
  align-items: center;
}
.production__description-image {
  display: block;
  width: 155px;
  height: 75px;
}
.production__description-block-text {
  margin: 0 30px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.production__video video {
  width: 700px;
  height: auto;
  display: block;
}