@import 'variables';

/* ===== ABOUT STYLES ===== */

.about {
  &__container {
    display: flex;
    background: $color-fone;
  }

  &__image {
    width: 748px;
    height: 748px;
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 100%;
  }

  &__text-content {
    color: $color-light;
    max-width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $color-light;
    margin-bottom: 80px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $color-light;
    margin-bottom: 50px;
  }

  &__paragraphs {
    margin-bottom: 80px;
  }

  &__paragraph {
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    color: $color-light;
    margin-bottom: $spacing-xl;

    &.about__company {
      font-weight: $font-weight-bold;
      margin-bottom: 42px;
    }
  }

  &__button {
    background: $color-primary;
    color: $color-light;
    border: none;
    border-radius: 30px;
    padding: $spacing-xl 66px;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    cursor: pointer;
    transition: $transition;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    align-self: flex-start;
    appearance: none;

    &:hover,
    &:focus {
      background: transparent;
      outline: 2px solid $color-primary;
      color: $color-primary;
    }

    &:focus {
      outline-offset: $spacing-xs;
    }
  }
}