@import '_variables';

/* ===== ACTIVITY STYLES ===== */

.activity {
    background-color: $color-light;
    padding: 120px 0;

    &__title {
        text-align: center;
        color: $color-dark;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        margin-bottom: 80px;
    }

    &__paragraph {
        text-align: center;
        color: $color-dark;
        font-size: $font-size-sm;
        font-weight: $font-weight-regular;
        margin-bottom: 70px;
    }

    &__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    &__image {
        width: 330px;
        height: 274px;
        object-fit: cover;
    }
}