@import '_variables';

/* ===== ADVANTAGES STYLES ===== */

.advantages {
  background-color: $color-fone;
  padding: 120px 0;

  &__title {
    text-align: center;
    color: $color-light;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }

  &__card {
    background-color: $color-light;
    padding: $spacing-xl 30px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card--title {
    color: $color-dark;
    width: 270px;
    text-align: left;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin: $spacing-xl 0;
  }

  &__text {
    color: $color-dark;
    max-width: 270px;
    text-align: left;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    text-wrap: balance;
  }
}