@import '_variables';

/* ===== FOOTER STYLES ===== */


footer {
  padding: 50px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 20px;
}
.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.information__title {
  font-family: 'Roboto', sans-serif;
  color: #E05100;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.information__text {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.information__worktime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.information__worktime-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.information__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.information__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.information__contacts--link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.information__contacts--link:hover {
  color: #E05100;
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.navigation__title {
  font-family: 'Roboto', sans-serif;
  color: #E05100;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.navigation__list {
  list-style-type: none;
  padding: 0;
}
.navigation__list li {
  margin-bottom: 20px;
}
.navigation__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__link:hover {
  color: #E05100;
}
.copyright {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}