@import '_variables';
@import '_header';
@import '_hero';
@import '_catalog';
@import '_about';
@import '_top-products';
@import '_production';
@import '_delivery';
@import '_activity';
@import '_advantages';
@import '_footer';
@import '_scroll-button';
@import '_modal-window';